.sidebar
	&.active
		width: 4.6rem;
		z-index: 10000
		.sidebar-wrapper
			width: 4.6rem;
		.nav p
			width: 10px
			opacity: 0
		.nav i
			margin-right: 0
			width: 100%
			text-align: center
		.nav li a
			padding: 10px 5px
		&:hover
			width: 260px
			transition: width 0.3s ease-in-out;
			.sidebar-wrapper
				width: 260px;
				transition: width 0.3s ease-in-out;
			.nav p
				width: auto
				opacity: 1
			.nav i
				margin-right: 30px
				width: 30px
				text-align: center
			.nav li a
				padding: 10px 15px
.wrapper
	&.active
		.main-panel
			width: calc(100% - 4.6rem);
.s-logo
	.dropdown-menu
		&.dropdown-menu-right
			right: 0
			left: auto

.dt-buttons
	position: relative;
	display: inline-flex;
	vertical-align: middle;
	.material-icons
		font-size: 16px;
		margin-right: 5px;
		line-height: 1.2px;
		color: #000;
.s-search
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: flex-end
	align-items: flex-start;
	align-content: stretch;
	flex-wrap: wrap;
	padding-top: 20px
	.input-group > .custom-file, .input-group > .custom-select, .input-group > .form-control
		color: #fff
		background-image: linear-gradient(0deg,#fff 2px,rgba(156,39,176,0) 0),linear-gradient(0deg,#d2d2d2 1px,hsla(0,0%,82%,0) 0);
		&:-moz-placeholder 
			opacity: 1
			color: #fff
		&::-moz-placeholder 
			opacity: 1
			color: #fff
		&:-ms-input-placeholder 
			opacity: 1
			color: #fff
		&::-webkit-input-placeholder 
			opacity: 1	
			color: #fff
.s-pager
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: flex-end
	align-items: flex-start;
	align-content: stretch;
	flex-wrap: wrap;
	padding-top: 20px
	.pagination
		padding-right: 5px
.s-table
	.table
		th
			cursor: pointer
			position: relative
			padding-right: 30px
			&:before, &:after
				position: absolute;
				bottom: 0.9em;
				display: block;
				opacity: 0.3;
			&:before
				right: 1em;
				content: "↑";
			&:after
				right: 0.5em;
				content: "↓";
				opacity: 1
		td
			.color
				&.green
					color: #0b0
	&-link
		&.active
			color: #2196f3;
.s-form
	.input-group .input-group-text
		display: flex;
		align-items: center;
		padding: 0.375rem 0.75rem;
		margin-bottom: 0;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		color: #495057;
		text-align: center;
		white-space: nowrap;
		background-color: #e9ecef;
		border: 1px solid #ced4da;
		border-radius: 0.25rem;
	.form-control, .is-focused .form-control
		background-image: none
	.form-control
		display: block;
		height: 38px
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		color: #495057;
		background-color: #ffffff;
		background-clip: padding-box;
		border: 1px solid #ced4da;
		border-radius: 0.25rem;
		box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
		transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;




