@import responsive

@include respond-to(tv)
	.dt-buttons
		background-color: #fafafa;
		box-shadow: 0 2px 2px 0 hsla(0,0%,98%,.14),0 3px 1px -2px hsla(0,0%,98%,.2),0 1px 5px 0 hsla(0,0%,98%,.12);
		border-radius: .2rem;
		.btn-group + .btn
			margin-left: 0
		.btn + .btn-group
			margin-left: 0
@include respond-to(desktop)

@include respond-to(tablet-large)
	.s-search
		.navbar-form
			padding-right: 50px
	.off-canvas-sidebar nav .navbar-collapse, .sidebar
		right: auto
		left: 0
		transform: translate3d(-260px,0,0);
	.nav-open .main-panel, .nav-open .navbar .container, .nav-open .navbar .container .navbar-toggler, .nav-open .navbar .container .navbar-wrapper, .nav-open .wrapper-full-page
		left: 0px;
		transform: translate3d(260px,0,0);
@include respond-to(tablet)
	.s-search .navbar-form
		padding-right: 60px
	.table
		min-width: 600px
	.s-pager .pagination
		padding-right: 0



@include respond-to(mobile)
	.s-pager .pagination
		.hide-xs
			display: none

@include respond-to(mobile1)
	.s-form .input-group .input-group-text
		width: 100% !important
		display: block
		height: 38px !important
	.s-form .form-control
		width: 100%
	.s-form .input-group-prepend
		display: block
		margin-right: 0
	.s-form	.input-group
		display: block

@include respond-to(mobile2)

