/* --------Drag and Drop-------- */
.container__dad {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /* align-items: baseline; */
    justify-content: space-between;
    /* max-width: 1600px; */
    width: 100%;
    height: auto;
}
.container__dad > .dnd-sortable-item {
    position: relative;
    /* display: flex; */
    padding: 0;
    margin: 0 auto;
    z-index: 1; /* при перемещении чтобы был выше*/
    /* background: #fff; */
}
.container__dad > .dnd-sortable-item.dnd-sortable-handle::before {
    content: '';
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(100%);
    height: 28px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background: rgba(45, 199, 209, 0.3);
    opacity: 0;
    cursor: move;
    transition: all 1s ease;
}
.container__dad > .dnd-sortable-item.dnd-sortable-handle:hover:before {
    opacity: 0.6;
}
.container__dad > .dnd-sortable-item.dnd-sortable-handle:hover:after {
    content: url('/img/open_with_black_24dp.svg');
    z-index: 3;
    position: absolute;
    top: 0px;
    left: calc(50% - 12px);
    transition: all 1s ease;
}
#c4.container__dad > .dnd-sortable-item {
    margin: 4px 4px;
    width: calc(100% - 8px);
    /* cursor: move; */
}
#c4.container__dad > .dnd-sortable-item-wide {
    width: calc(50% - 8px);
}
.dnd-sortable-item .dnd-sortable-closest {
    /* border-color: #00fa00; */
    z-index: 5;
}
.dnd-sortable-item .dnd-sortable-dragged {
    z-index: 10;
    opacity: 0.7;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}
.dnd-sortable-placeholder {
    border-radius: 16px;
    background: #b8c2cc;
    opacity: 0.5;
}
/* ----Выбор отображаемых колонок в таблице блока---- */
/* ключевые кадры */
@keyframes rotate_shesterenka {
    0% {
        transform: scale(1.1);
    }
    25% {
        transform: rotate(60deg);
    }
    50% {
        transform: scale(1.1);
    }
    75% {
        transform: rotate(0deg);
    }
    100% {
        transform: scale(1);
    }
}
.btn-set-visible {
    position: absolute;
    top: 40px;
    right: 15px;
    z-index: 1;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border:none;
    background-color: rgba(255, 255, 255, 0);
    background-image: url('/img/new-des_setting-3.svg');
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    cursor: pointer;
    transition: transform 0.2s linear;
}
.btn-set-visible:hover {
    /*transform: translateY(-3px);*/
    animation-name: rotate_shesterenka;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-delay: 0s;
    animation-fill-mode: none;
}
/* Переключатель блокировки перемещения блоков на странице */
.btn__dnd-switch-box {
    position: relative;
}
.btn__dnd-switch {
    position: absolute;
    top: -30px;
    left: 50px;
    z-index: 1;
    width: 28px;
    height: 28px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    background-image: url('/img/lock-close.png');
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    cursor: pointer;
}
/* Для выравнивания в выпадающем списке */
.set-mb-pl {
    padding: 0 10px;
}
/* ----Диаграмма Статусы оборудования---- */
.wrap__container {
    display: flex;
    width: 100%;
    padding-left: 1rem;
    /* padding-right: 30px; */
}
.wrap__description {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.description__box{
    width: 100%;
    display: flex;
    height: 25px;
    margin: 0 0 3px 0;
    padding: 0 0 3px 10px;
    align-items: end;
    border-bottom: #7367F0 1px solid;
}
.description__text {
    display: flex;
}
.description__text h6 {
    margin: 0;
    padding: 0 0 2px 0;
    line-height: 1;
    align-items: end;
    font-style: italic;
}
.span-item_percent {
    padding: 0 10px 0 0;
    margin-left: auto;
    font-weight: 500;
}
.wrap__item {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
}
.item__bar {
    display: flex;
    width: 0px;
    height: 25px;
    margin: 0 0 3px 0;
    position: relative;
    transition: width 2s, background-color .5s;
    transform: translate3d(0, 0, 0);
    clear: both;
}
.item__count {
    position: absolute;
    right:  -30px;
    font-weight: 400;
}
/* ----Диаграмма Статусы оборудования---- */
.canvas__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 25px; */
}
.legend {
    display: flex;
    width: 50%;
    position: relative;
}
.caption-list {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    /* margin-left: auto;
    padding-right: 25px; */
}
.caption-item_container {
    display: flex;
    margin-bottom: 2px;
}
.caption-item_container:first-child {
    display: none;
}
.caption-item_container:first-child .caption-item_descr {
    margin: 0;
}
.caption-item_before {
    display: flex;
    width: 17px;
    height: 17px;
    border: none;
    border-radius: 3px;
    margin-right: 8px;
    /* margin-bottom: 6px; */
}
.caption-item_before:hover {
    border: 2px solid black;
}
.toggle-item_before{
    opacity: 0.2;
}
.caption-item_descr {
    display: flex;
    align-items: center;
    margin: 0 50px 0 0;
    font-style: normal;
    font-weight: 500;
}
.caption-item_descr h6 {
    margin: 0;
    padding: 0;
}
.caption-item_count {
    display: flex;
    align-items: self-end;
    font-weight: 500;
    margin-left: auto;
}
.caption-item_percent {
    margin-left: 4px;
    font-weight: 500;
}
.in-total-val-container {
    display: flex;
    margin-top: 12px;
    margin-left: 12px;
}
.in-total-val {
    display: flex;
    width: 17px;
    height: 17px;
    border: none;
    border-radius: 3px;
}
.in-total-val-offset {
    margin-left: 10px;
    font-weight: 500;
}
.chartCard {
    width: 50%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.chartBox {
    display: flex;
    width: 100%;
    max-width: 250px;
    height: auto;
    max-height: 250px;
}

.chartCard1 {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    /* margin-left: 32px; */
    justify-content: center;
}
.chartBox1 {
    display: flex;
    width: 90%;
    max-width: 600px;
    height: auto;
    max-height: 250px;
}
.list__count-vertical {
    display: flex;
    width: 10%;
    margin-top: 30px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.ui__list {
    margin: 0;
    padding: 0;
}
.ui__list-item {
    list-style-type: none;
    margin: 0;
    padding-top: 4px;
}
.ui__list-item-p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 1.5;
}

/* ----Таблица Статусы оборудования---- */
.table__new {
    border-collapse: separate;
    border-spacing: 4px 0;
    text-align: center;
}
.table__new th {
    border: 0px solid #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #1A1A1A;
}
.table__new th, .table__new td {
    text-align: center;
    position: relative;
}
.table__new tr:first-child td{
    border-radius: 6px;
    color: #fff;
}
.table__new > tbody > tr:nth-of-type(odd) {
    /* background-color: #FAFAFC; */
}
/* Hover */
.table__new  .hover td:after {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    border-bottom: 2px solid #868987;
}
/* Click */
.table__new  .active td:after {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    border-top: 2px solid rgb(255, 166, 0);
    border-bottom: 2px solid rgb(255, 166, 0);
}
.div__open-table {
    display: flex;
    position: absolute;
    left: 95px;
    bottom: -10px;
    z-index: 3;
    width: 110px;
    height: 20px;
    border: none;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s linear;
}
.but__open-table {
    display: flex;
    align-self: center;
    position: relative;
    top: 0;
    border: 8px solid transparent;
}
.but__arrow-down {
    border-bottom: none;
    border-top: 8px solid rgb(255, 166, 0);
}
.but__arrow-up {
    border-top: none;
    border-bottom: 8px solid rgb(255, 166, 0);
}
.but__arrow-down:hover {
    border-top: 8px solid rgb(239, 239, 239);
}
.but__arrow-up:hover {
    border-bottom: 8px solid rgb(239, 239, 239);
}
.title__open-table {
    align-self: center;
    bottom: 1px;
    margin-left: 3px;
    position: relative;
    color: rgb(239, 239, 239);
}
