/* manrope-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/manrope-v14-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
    src: url('/fonts/manrope-v14-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/manrope-v14-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/manrope-v14-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
    url('/fonts/manrope-v14-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/manrope-v14-cyrillic_latin-regular.svg#Manrope') format('svg'); /* Legacy iOS */
}
/* manrope-500 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/manrope-v14-cyrillic_latin-500.eot'); /* IE9 Compat Modes */
    src: url('/fonts/manrope-v14-cyrillic_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/manrope-v14-cyrillic_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/manrope-v14-cyrillic_latin-500.woff') format('woff'), /* Modern Browsers */
    url('/fonts/manrope-v14-cyrillic_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/manrope-v14-cyrillic_latin-500.svg#Manrope') format('svg'); /* Legacy iOS */
}
/* manrope-600 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/manrope-v14-cyrillic_latin-600.eot'); /* IE9 Compat Modes */
    src: url('/fonts/manrope-v14-cyrillic_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/manrope-v14-cyrillic_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/manrope-v14-cyrillic_latin-600.woff') format('woff'), /* Modern Browsers */
    url('/fonts/manrope-v14-cyrillic_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/manrope-v14-cyrillic_latin-600.svg#Manrope') format('svg'); /* Legacy iOS */
}
/* manrope-700 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/manrope-v14-cyrillic_latin-700.eot'); /* IE9 Compat Modes */
    src: url('/fonts/manrope-v14-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/manrope-v14-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/manrope-v14-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
    url('/fonts/manrope-v14-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/manrope-v14-cyrillic_latin-700.svg#Manrope') format('svg'); /* Legacy iOS */
}
/* manrope-800 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/manrope-v14-cyrillic_latin-800.eot'); /* IE9 Compat Modes */
    src: url('/fonts/manrope-v14-cyrillic_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/manrope-v14-cyrillic_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/manrope-v14-cyrillic_latin-800.woff') format('woff'), /* Modern Browsers */
    url('/fonts/manrope-v14-cyrillic_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/manrope-v14-cyrillic_latin-800.svg#Manrope') format('svg'); /* Legacy iOS */
}

/* Theme white */
html body {
    font-family: 'Manrope';
}
.navigation {
    font-family: 'Manrope';
}
/* Стиль title TOOLSid */
.main-menu .navbar-header .navbar-brand .brand-text {
    color: #2DC7D1;
}
.hr__sidebar {
    height: 2px;
    color: #2DC7D1;
}
/* Menu sidebar arrow-left */
.sidebar__arrow-left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    width: 36px;
    height: 36px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(45, 199, 209, 0.1);
    border-radius: 50%;
}
.dark-layout .sidebar__arrow-left {
    background: #a8adc2;
}
/* Стиль при навигации по меню sidebar */
.main-menu.menu-light .navigation li.has-sub > a {
    transition: none;
}
.main-menu.menu-light .navigation li.nav-item a:hover {
    background: #EDF7F8;
    border-radius: 12px;
}
.dark-layout .main-menu.menu-light .navigation li.nav-item a:hover {
    background: #5b698f;
}
/* Стиль стрелки закрытия левой панели */
.sidebar__arrow-left::after {
    content: '';
    background-image: url(../img/new-des_arrow-right.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.1rem;
    height: 18px;
    width: 18px;
    display: inline-block;
    position: absolute;
    right: 22px;
    top: 36px;
    transform: rotate(180deg);
    transition: all 0.2s ease-out;
}
/* Стиль стрелки открытия левой панели */
.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded .sidebar__arrow-left::after {
    transform: rotate(0deg);
}
/* Стиль при закрытии (уменьшенной) левой панели */
.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu:not(.expanded) .navigation li.active a {
    background: #EDF7F8;
}
.dark-layout.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu:not(.expanded) .navigation li.active a {
    background: #5b698f;
}
/* Стили пунктов меню левой панели */
.main-menu.menu-light .navigation > li > a {
    margin: 0 15px 4px 15px;
    height: 56px;
}
/* Стили пунктов меню левой панели при навигации */
.main-menu.menu-light .navigation > li ul li > a:hover {
    border-radius: 12px;
}
/* Стили активных пунктов меню левой панели */
.main-menu.menu-light .navigation > li.active > a {
    /* height: 56px; */
    background: #EDF7F8;
    box-shadow: none;
    color: #2DC7D1;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    line-height: 1.65;
    border-radius: 12px;
}
.dark-layout .main-menu.menu-light .navigation > li.active > a {
    background : #5b698f;
    /* box-shadow : 0 0 10px 1px rgba(115, 103, 240, 0.7); */
}
/* Изменение цвета svg иконки */
.active .svg-change__stroke {
    stroke: #2DC7D1;
}
/* Изменение цвета svg иконки */
li.open:not(.menu-item-closing) .svg-change__stroke {
    stroke: #2DC7D1;
}

/* Стили пунктов меню левой панели при навигации по списку подменю */
.main-menu.menu-light .navigation > li.open:not(.menu-item-closing) > a, .main-menu.menu-light .navigation > li.sidebar-group-active > a {
    color: #2DC7D1;
    background: #EDF7F8;
    border-radius: 12px;
}
.dark-layout .main-menu.menu-light .navigation > li.open:not(.menu-item-closing) > a {
    background : #5b698f;
    /* box-shadow : 0 0 10px 1px rgba(115, 103, 240, 0.7); */
}
.dark-layout .main-menu-content .navigation-main .nav-item.open > a {
    background-color: #5b698f !important;
}
/* Стиль активного пункта в раскрытом списке меню (ссылка) */
.main-menu.menu-light .navigation > li ul .active > a {
    color: #2DC7D1;
}
.dark-layout .main-menu.menu-light .navigation > li ul .active > a {
    color: #2DC7D1 !important;
}
/* Стиль активного пункта раскрытого списка меню (сброс текущих стилей оформления пункта меню) */
.main-menu.menu-light .navigation > li ul .active {
    background: none;
    box-shadow: none;
    border-radius: 0x;
    z-index: 1;
}
/* Стили стрелок при открытии закрытии списка пунктов меню в Sidebar */
.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation li.has-sub > a:after {
    content: '';
    background-image: url(../img/new-des_arrow-right.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.1rem;
    height: 18px;
    width: 18px;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 19px;
    transform: rotate(0deg);
    transition: all 0.2s ease-out;
}
/* Стили стрелок при открытии закрытии списка пунктов меню в Sidebar */
.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded .navigation li.has-sub > a:after {
    content: '';
    background-image: url(../img/new-des_arrow-right.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem;
    height: 18px;
    width: 18px;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 19px;
    transform: rotate(0deg);
    transition: all 0.2s ease-out;
}
/* Стили navbar panel */
.header-navbar.floating-nav {
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.9);
}
/* .dark-layout .header-navbar.floating-nav {
    background-color: #283046;
} */
.dark-layout .header-navbar {
    background-color: #283046;
}
/* Стили content */
.content-wrapper {
    /* margin-top: 16px; */
    margin-top: 10px;
}
/* Стили card */
.card__modificator {
    border-radius: 16px;
    margin-bottom: 0;
}
.container-fluid__modificator {
    padding-right: 0px;
    padding-left: 0px;
}
.modal-title {
    margin-top: 12px;
    line-height: 1.5;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: #1A1A1A;
}
.dark-layout .modal-title {
    color: #ccc;
}
.modal-title__modificator {
    display: flex;
    margin-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #E6E6E6;
    line-height: 1.5;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: #1A1A1A;
}
.dark-layout .modal-title__modificator {
    color: #ccc;
}
.input-group {
    margin-top: 20px;
}
.input__group-modificator {
    margin-top: 0px;
}
.form-control-sm {
    border-radius: 2.357rem;
}

.form-label-group > input:focus:not(:placeholder-shown) ~ label, .form-label-group > input:not(:active):not(:placeholder-shown) ~ label,
.form-label-group textarea:focus:not(:placeholder-shown) ~ label,
.form-label-group textarea:not(:active):not(:placeholder-shown) ~ label {
    color: #eef067 !important;
    transition: all 0.25s ease-in-out;
    opacity: 1;
}

/* Стили инпутов */
input[type=search] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
}
input[type=search]::placeholder {
    color: #bbb;
}
input[type=search] {
    border: 1px solid #E6E6E6;
    border-radius: 8px;
    margin-left: 0;
    padding: 9px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
.dark-layout input[type=search] {
    background: transparent url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 21.75C5.85 21.75 1.25 17.15 1.25 11.5C1.25 5.85 5.85 1.25 11.5 1.25C17.15 1.25 21.75 5.85 21.75 11.5C21.75 17.15 17.15 21.75 11.5 21.75ZM11.5 2.75C6.67 2.75 2.75 6.68 2.75 11.5C2.75 16.32 6.67 20.25 11.5 20.25C16.33 20.25 20.25 16.32 20.25 11.5C20.25 6.68 16.33 2.75 11.5 2.75Z' fill='%23FAFAFA'/%3E%3Cpath d='M22 22.7499C21.81 22.7499 21.62 22.6799 21.47 22.5299L19.47 20.5299C19.18 20.2399 19.18 19.7599 19.47 19.4699C19.76 19.1799 20.24 19.1799 20.53 19.4699L22.53 21.4699C22.82 21.7599 22.82 22.2399 22.53 22.5299C22.38 22.6799 22.19 22.7499 22 22.7499Z' fill='%23FAFAFA'/%3E%3C/svg%3E") no-repeat 13px center;
}
input[type=checkbox] {
    background-color: #2DC7D1;
    border: 1px solid #2DC7D1;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

/* Стили выпадающего списка */
select.form-control_modificator:not([multiple='multiple']) {
    background: #EDF7F8;
    background-image: url(../img/new-des_arrow-select.svg);
    background-position: calc(100% - 12px) 13px, calc(100% - 20px) 13px, 100% 0;
    background-size: none;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* padding-right: 1.5rem; */
    max-width: 148px;
    /* height: 32px; */
    border-radius: 12px;
    margin-left: auto;
}
/* удаление тени */
.input-group:not(.bootstrap-touchspin):focus-within {
    box-shadow: none;
}
.dark-layout select.form-control:not([multiple='multiple']) {
    background-color: #283046;
    background-image:url(../img/new-des_arrow-select.svg);
}

/* Стили инпута выбора даты и времени */
.form-control__modificator {
    display: flex;
    width: 190px;
    border-radius: 12px;
    margin-left: 15px;
    margin-top: auto;
}
.form-control__modificator::after {
    content: '';
    background-image: url(../img/new-des_calendar.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 24px;
    width: 24px;
    display: inline-block;
    position: absolute;
    right: 8px;
    top: 6px;
}
.title__datetime {
    margin: 0;
    padding: 0;
    padding-top: 8px;
}

/* Стили таблиц */
div.dataTables_wrapper div.dataTables_filter label, div.dataTables_wrapper div.dataTables_length label {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    /* margin-bottom: 1rem; */
}
table.dataTable td, table.dataTable th {
    /* padding: 0.72rem 1.5rem; */
    vertical-align: top;
}
div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 1rem;
}
.table thead th, .table tfoot th {
    text-transform: none;
}
.table:not(.table-dark):not(.table-light) thead:not(.thead-dark) th,
.table:not(.table-dark):not(.table-light) tfoot:not(.thead-dark) th {
    background-color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #1A1A1A;
}
.dark-layout
.table:not(.table-dark):not(.table-light) thead:not(.thead-dark) th,
.table:not(.table-dark):not(.table-light) tfoot:not(.thead-dark) th {
    color: #ccc;
}
table.dataTable {
    width: 100% !important;
    border-collapse: separate !important;
}
.table-bordered {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
.table-bordered th, .table-bordered td {
    border: 0px solid #fff;
    border-bottom: 1px solid #E6E6E6;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff;
}
table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    border-bottom-width: 1px;
}
/* Стили кнопки выбора страниц под таблицей */
.page-item.active .page-link {
    background-color: #2DC7D1;
}
/* Стили BG в card-body modal-title */
.card__title-bg {
    display: flex;
    background-color: #EDF7F8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 12px;
    padding-bottom: 12px;
}
.dark-layout .card__title-bg {
    background-color: #161d31;
}

/* Стили инпутов модальных окон */
.input-group-text {
    background-color: #EDF7F8;
    color: #24A0A8;
}
.input-group.disabled .input-group-text {
    background-color: #EDF7F8;
    color: #24A0A8;
}
.dark-layout .input-group .input-group-text {
    background-color: #283046;
    border-color: #3b4253;
    color: #b4b7bd;
}

/* Стили кнопок */
.btn-success {
    width: auto;
    height: 36px;
    border-radius: 12px;
}
.btn-success:hover {
    background-color: #2DC7D1;
    border: 1px solid #2DC7D1;
}
.btn-success:focus, .btn-success:active, .btn-success.active {
    border-color: #24A0A8;
    background-color: #24A0A8;
    box-shadow: 0px 8px 16px rgba(44, 182, 191, 0.2);
}
/* .btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle {
    background-color: #24A0A8;
    border-color: #24A0A8;
} */
.btn-success:not(:disabled):not(.disabled):active:focus {
    border-color: #2DC7D1;
    background-color: #24A0A8;
    box-shadow: none;
}
/* Страница mail-settings уменьшение шрифта в первой строке таблицы */
.tabulator .tabulator-header .tabulator-col.tabulator-sortable .tabulator-col-title {
    font-size: 12px;
}
