/* Settings page  */
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}
body.no-scroll {
    overflow: hidden;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Авторизация  */
.login__container {
    display: flex;
    isolation: isolate;
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #20242E;
    overflow: hidden;
}
/* Background Image */
.login__layer {
    position: absolute;
    width: 784px;
    height: 630px;
    left: 130px;
    top: 430px;
    /* transform: rotate(0deg); */
    z-index: -1;
    background-image: url("../img/Group0.png");
}
/* Ellipse 27 */
.login__layer-1 {
    position: absolute;
    width: 811px;
    height: 718px;
    left: -671px;
    top: -639px;
    background-color: #2DC7D1;
    filter: blur(300px);
    z-index: -2;
}
/* Ellipse 28 */
.login__layer-2 {
    position: absolute;
    width: 811px;
    height: 718px;
    left: 760px;
    top: 1169px;
    background: #2DC7D1;
    filter: blur(300px);
    z-index: -2;
}
/* Левая половина страницы */
.left__side {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

.left__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logo__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 492px;
    margin-bottom: 32px;
}
/* logo */
.logo__top {
    width: 256px;
    height: 58px;
    margin-bottom: 32px;
}
/* Welcome to TOOLSiD ! */
.logo__title {
    text-align: center;
    width: 524px;
    height: 62px;
    margin: 0;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 1.3;
    color: #FFFFFF;
}
/* To keep connected with us please login with your personal info */
.logo__bottom {
    width: 389px;
    height: 58px;
    margin-bottom: 92px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    color: #FAFAFA;
}
/* Button */
.logo__but {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 32px;
    width: 296px;
    height: 60px;
    border: 2px solid #2DC7D1;
    border-radius: 50px;
}
.but__title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #24A0A8;
}
.but__title-dark {
    color: #2DC7D1;
    text-decoration: none;
}
/* Button reaction */
.btn-react {
    --outline: 2px solid inherit;
    outline: var(--outline);
    transition: outline-offset 200ms ease;
}
.btn-react:hover, .btn-react:focus {
    color: #2DC7D1;
    --outline: 2px solid #2DC7D1;
    outline: var(--outline);
    outline-offset: -6px;
}

/* Правая половина страницы */
.right__side {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

.right__content {
    display: flex;
    background: #F4FAFB;
    border-radius: 32px;
    padding: 16px 48px;
    max-width: 100%;
}

/* .form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.form__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 767px;
}

/* .form__create-account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 655px;
} */

.form__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__header-top {
    text-align: center;
    width: 371px;
    height: 62px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 1.3;
    color: #2DC7D1;
}

.form__header-bottom {
    text-align: center;
    width: 100%;
    height: 34px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.4;
    color: #666666;
    margin-bottom: 16px;
}

.form__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 655px;
    height: 56px;
    margin-top: 12px;
}
input[type="text"] {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    border: 0;
}
.input__box-field {
    display: flex;
    padding: 0px 60px;
    width: 655px;
    height: 40px;
    background: #FFFFFF;
    border: 0;
    border-radius: 12px;
}
.input__box-field:active, .input__box-field:focus {
    background: #FFFFFF;
    border-width: 1px;
    border-color: #81DDE3;
    outline: 0;
    box-shadow: 0 0 0 1px #81DDE3;
}
.input__box-icon {
    position: relative;
}
.input__box-icon::before {
    content: '';
    color: #666666;
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
}
.input__box-icon::after {
    content: '';
    color: #666666;
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
}
.input__box-icon_email::before {
    width: 24px;
    height: 24px;
    background-image: url("../img/icons-imail.png");
    background-repeat: no-repeat;
    background-position: center;
}
.input__box-icon-psw::before {
    width: 24px;
    height: 24px;
    background-image: url("../img/key.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.input__box-icon-psw-img {
    display: inline-block;
    position: absolute;
    top: 6px;
    right: 24px;
    width: 30px;
    height: 30px;
    background-image: url("../img/no-eye.png");
    background-repeat: no-repeat;
    background-position: right;
}
.input__box-icon-psw-img:hover {
    cursor: pointer;
}
.input__box-icon-psw-img.view {
    background-image: url("../img/eye.png");
}
.input__box-icon-psw-img1 {
    display: inline-block;
    position: absolute;
    top: 6px;
    right: 24px;
    width: 30px;
    height: 30px;
    background-image: url("../img/no-eye.png");
    background-repeat: no-repeat;
    background-position: right;
}
.input__box-icon-psw-img1:hover {
    cursor: pointer;
}
.input__box-icon-psw-img1.view {
    background-image: url("../img/eye.png");
}
.input__box-field:invalid:focus {
    background: #FFFFFF;
    border-width: 1px;
    border-color: #f0530a;
    outline: 0;
    box-shadow: 0 0 0 1px #f13506;
}
.error__under-box {
    display: flex;
    width: 100%;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #666666;
}
.text__placeholder {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    color: #666666;
}

.vuesax {
    width: 24px;
    height: 24px;
}

.form__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 16px;
    align-items: center;
}
/* Button */
.form__but {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 32px;
    --width: 296px;
    --height: 60px;
    position: relative;
    min-width: var(--width);
    min-height: var(--height);
    overflow: hidden;
    background: #507476;
    border: none;
    border-radius: 50px;
}
/* Button reaction */
.btn-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    --btn-bg: #2DC7D1;
}

.form__but .text,
.form__but .icon-container {
    position: relative;
    z-index: 2;
}
.form__but .icon-container {
    --icon-size: 25px;
    position: relative;
    width: var(--icon-size);
    height: var(--icon-size);
    margin-left: -25px;
    transition: transform 500ms ease;
}
.form__but .icon-container .icon {
    position: absolute;
    left: 16px;
    top: 0;
    width: var(--icon-size);
    height: var(--icon-size);
    transition: transform 500ms ease, opacity 250ms ease;
}
.form__but .icon-container .icon--left {
    transform: translateX(-200%);
    opacity: 0;
}
.form__but .icon-container .icon svg {
    width: 100%;
    height: 100%;
    fill: #fff;
}
.form__but::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--btn-bg);
    border-radius: var(--height);
    z-index: 1;
    transition: transform 300ms ease;
}
.form__but:hover::after {
    transform: translateX(80%);
}
.form__but:hover .icon-container {
    transform: translateX(125%);
}
.form__but:hover .icon-container .icon--left {
    transform: translateX(0);
    opacity: 1;
}
.but__title-white {
    color: white;
}
/* ссылка внизу формы */
.form__footer-title {
    display: flex;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2DC7D1;
}

.form__footer-bootom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 301px;
    height: 44px;
}
/* vuesax/linear/google */
.form__footer-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 44px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 50px;
}
/* Create account with */
.form__footer-text {
    width: 233px;
    height: 34px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.4;
    color: #666666;
}
/* agreeTerms */
.icheck-primary {
    margin-top: 8px;
    text-align: center;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2DC7D1;
}
.icheck-primary  a {
    text-decoration: none;
    letter-spacing: 0.01em;
    color: #2DC7D1;
}
.icheck-primary  a:hover {
    text-decoration: underline;
}

